body
{
    background-color: #fff8dc;
    margin: 0;
}

header
{
    margin: -90px;
}

a
{
    font-size: medium;
    font-weight: lighter;
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.site-header
{ 
    height: 100vh;

    font-family: monospace;
    color: #a59980;

    display: flex;  /* to position items on the screen */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content
{
    margin: 10px;
}

.profile-pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: cadetblue;
}


.container {width:90%; margin:auto; overflow:hidden;}

.items {width:30%; display: block; padding: 4px; margin-bottom: 20px; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; float:left; margin-left:1%;}

.thumbnail {display: block; max-width: 100%; height: auto;}

.caption {color: #a59980; padding:0px 10px 10px; font-weight: bold; text-align: center;}


footer
{
    background-color: #a59980;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}